<%- include('../../main-components/header'); -%>
    <div class="profile-container w3-row">
        <div class="profile-side-bar w3-col l3">
            <div class="profile-user w3-row">
                <img class="w3-col l3 " src="../../../public/images/demopic.jpg" alt="" style="height: 40px; width: 40px;">
                <div class="w3-col l3 psb-user">
                    <span>Sunil Sharma</span><br>
                    <span>Sunisharma@gmail.com</span>
                </div>
                <div class="w3-col l6 psb-setting-sign ">
                    <i class="fa-solid fa-gear"></i>
                </div>
            </div>
            <div class="profile-menu">
                <span>Menu</span>
                <ul class="psb-menu  w3-margin-bottom">
                    <li><a href="#"><i class="fa-solid fa-house w3-text-white w3-orange w3-padding-small w3-margin-right w3-round-large"></i> Dashboard</a></li>
                    <li><a href="#"><i class="fa-solid fa-laptop w3-text-white w3-deep-orange w3-padding-small w3-margin-right w3-round-large"></i> My Products</a></li>
                    <li><a href="#"><i class="fa-solid fa-bag-shopping w3-text-white w3-cyan w3-padding-small w3-margin-right w3-round-large"></i> My Orders</a></li>
                    <li><a href="#"><i class="fa-solid fa-rectangle-ad w3-text-white w3-aqua w3-padding-small w3-margin-right w3-round-large"></i> Sponsor Products</a></li>
                    <li><a href="#"><i class="fa-solid fa-gear w3-text-white w3-purple w3-padding-small w3-margin-right w3-round-large"></i>Site Settings</a></li>
                    <li><a href="#"><i class="fa-solid fa-gear w3-text-white w3-aqua w3-padding-small w3-margin-right w3-round-large"></i>Profile  Settings</a></li>
                </ul>
                <span class=" w3-margin-bottom">Other Menu</span>
                <ul class="psb-other-menu">
                    <li><a href="#"><i class="fa-solid fa-house w3-text-white w3-aqua w3-padding-small w3-margin-right w3-round-large"></i> Back to Home</a></li>
                    <li><a href="#"><i class="fa-solid fa-certificate w3-text-white w3-blue w3-padding-small w3-margin-right w3-round-large"></i> Become Suplier</a></li>
                    <li><a href="#"><i class="fa-solid fa-circle-info w3-text-white w3-amber w3-padding-small w3-margin-right w3-round-large"></i> Help</a></li>
                </ul>

            </div>
        </div>
        <div class="site-settings w3-col l4 w3-container" style="width: 55vh;">
            <h5 class="header">Site Settings</h5>
            <div class="w3-row w3-card w3-center w3-teal w3-round-xxlarge w3-padding">
                <div class="ss-progress-bar  w3-col l3">
                    <div class="progress">
                        <span class="title timer" data-from="0" data-to="70" data-speed="1500">70</span>
                        <div class="overlay"></div>
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                </div>
                <div class="w3-col l9 w3-padding">
                    <h5>Profile information</h5>
                    <span>Complete you profile and some more text</span>
                </div><br>
                <div class=" w3-container w3-center">
                    <a href="" class="ss-complete-profile  w3-button w3-white w3-round-xxlarge" style="width: 75%;">Complete my profile</a>
                </div>
            </div>
        </div>
        <div class="profile-settings w3-col l4">

        </div>
    </div>

    <%- include('../../main-components/footer'); -%>