.main-page-design {
    position: relative;
    margin-left: 6vh;
}

.mpd-front h1 {
    position: absolute;
    top: 13%;
    right: 25%;
}

.mpd-front p {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: 16vh;
    text-align: center;
}

.mpd-first button:first-of-type {
    position: absolute;
    top: 50%;
    right: 30%;
    background-color: green;
}

.mpd-first button:first-of-type:hover {
    background-color: rgb(8, 94, 8);
}

.mpd-first button:last-of-type {
    position: absolute;
    top: 50%;
    right: 20%;
    background-color: rgb(238, 136, 41);
}

.mpd-first button:last-of-type:hover {
    background-color: rgb(190, 97, 10);
}

.mpd-first button {
    font-size: 18px;
    padding: 8px 28px 8px 28px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}