<script src="../../public/responsiveness-script/notification.js"></script>
<script src="../../public/responsiveness-script/preview.js"></script>
<script src="../../public/responsiveness-script/cart.js"></script>
<script src="../../public/design-script/nav.jsl"></script>
<script src="../../public/anime.min.js"></script>
<script src="../../public/framework/anime.js"></script>
<script src="../../public/design-script/mpd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.js" integrity="sha512-E378bwaeZf1nwXeJGIwTB58A5gPt5jFU3u6aTGja4ZdRFJeo/N/REKnBgNZOZlH6JdnOPO98vg2AnSGaNfCMFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://kit.fontawesome.com/879ed49c00.js" crossorigin="anonymous"></script>
</body>

</html>