<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/main.css">
    <script src="https://kit.fontawesome.com/879ed49c00.js" crossorigin="anonymous"></script>
    <title>Flipwave</title>
</head>

<body>