:root {
    --charcol: #264653;
    --persian-green: #2A9D8F;
    --maize-crayola: #E9C46A;
    --sandy-brown: #F4A261;
    --burnt-sienna: #E76F51;
    --base-white: #FFF1E6;
    --base-black: #212529;
    --base-grey: grey;
}