@import url(./stylesheet-css/nb-styles/bt.css);
@import url(./stylesheet-css/nb-styles/tb.css);
@import url(./stylesheet-css/nb-styles/side-bar.css);
@import url(./colors.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    cursor: pointer;
}