<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
    <div class="max-w-2xl mx-auto py-24 px-4 grid items-center grid-cols-1 gap-y-16 gap-x-8 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8 lg:grid-cols-2">
        <div>
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">header text</h2>
            <p class="mt-4 text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In nostrum at totam ut minus eaque. Fuga perferendis, omnis natus sit commodi nemo, maiores, voluptatem voluptas sed possimus dolorem quam odit!</p>

            <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">header</dt>
                    <dd class="mt-2 text-sm text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quo omnis consequatur debitis dolorum velit sunt ad quia sed, commodi perferendis. Ab totam suscipit vero aspernatur qui ducimus consectetur minus.</dd>
                </div>

                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">header</dt>
                    <dd class="mt-2 text-sm text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque nesciunt esse magnam ipsam facilis qui placeat repellendus ipsa natus vel doloremque consequatur temporibus earum libero exercitationem, totam veritatis deserunt aut.</dd>
                </div>

                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">Dimensions</dt>
                    <dd class="mt-2 text-sm text-gray-500">h&quot; x b&quot; x l&quot;</dd>
                </div>

                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">header</dt>
                    <dd class="mt-2 text-sm text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente enim facilis labore blanditiis aliquam, quae recusandae. Alias at facilis quos quia unde, quis, dolorum doloremque esse, repellat magni fugit minima.</dd>
                </div>

                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">header</dt>
                    <dd class="mt-2 text-sm text-gray-500">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, repudiandae laboriosam eveniet quos soluta autem et ducimus consequuntur eius magnam sed nisi quam aspernatur odio exercitationem! Perspiciatis, quos. Cumque, reiciendis.</dd>
                </div>

                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">header text</dt>
                    <dd class="mt-2 text-sm text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, illum. Molestias maxime placeat quo, sequi, adipisci officiis atque iste magnam laborum repellat mollitia officia consectetur dolore alias repudiandae quidem voluptatem!</dd>
                </div>
            </dl>
        </div>
        <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
            <img src="../../../public/images/demopic.jpg" alt=" " class="bg-gray-100 rounded-lg">
            <img src="../../../public/images/demopic.jpg" alt=" " class="bg-gray-100 rounded-lg">
            <img src="../../../public/images/demopic.jpg" alt="" class="bg-gray-100 rounded-lg">
            <img src="../../../public/images/demopic.jpg" alt="" class="bg-gray-100 rounded-lg">
        </div>
    </div>
</div>