.fb-container {
    padding-left: 15vh;
    padding-right: 10vh;
    background-color: var(--charcol);
}

.fb-row-container {
    list-style: none;
    color: var(--base-white);
    margin-right: 16vh;
}

.fb-element:first-child {
    font-weight: bold;
    font-size: 18px;
}

.fb-element>a {
    text-decoration: none;
}

.footer-side-text {
    padding-top: 10vh;
}

.footer-side-text p,
.footer-side-text h2 {
    margin-left: 10vh;
    color: white;
    text-align: justify;
}