/* Navigation bar */

.top-nav {
    border-bottom: 1px solid rgb(194, 190, 190);
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
}

.tb-element {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 0 20px 15px;
}

.tb-div-element {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 0 0px 15px;
}

.tb-element a {
    text-decoration: none;
    color: var(--base-black);
    margin-left: 50px;
}


/* Svg  */

#flipwave-svg {
    height: 55px;
    position: absolute;
    left: 15%;
    top: 1%;
    clip: rect(0px, 200px, 55px, 0px);
}


/* right navigation buttons */

.rt-nav {
    float: right;
    display: inline-flex;
    align-items: center;
    margin-top: -10px;
    padding-left: 20px;
}


/* Icons */

.ns-ttp .fa-bell,
.fa-cart-shopping,
.tb-search-bar .fa-magnifying-glass {
    font-size: 30px;
    margin-right: 15px;
    color: rgb(105, 110, 114);
    border-right: 3px solid rgb(226, 215, 215);
    padding-right: 25px;
}

.tb-search-bar .fa-magnifying-glass {
    display: none;
}


/* user Images */

.user-img {
    cursor: pointer;
    height: 45px;
    width: 45px;
    border-radius: 25px;
    background: url("../../images/download.jfif") no-repeat;
    margin-right: 20px;
}

.user-img::after {
    content: " ";
    color: red;
    height: 100px;
    width: 100px;
    position: absolute;
}


/* Search bar and Button */

.tb-div-search {
    width: 70vh;
    margin-top: -1.2vh;
    margin-right: 40px;
    background-color: transparent;
}

.tb-div-search div {
    border-radius: 10px;
}


/* smart phone slider */

.tb-bars {
    display: none;
}


/* Smart phone responsiveness code with max iwdth 662px */

@media only screen and (max-width: 662px) {
    .top-nav {
        background-color: white;
        position: sticky;
        top: 0;
        left: 0;
        height: 8vh;
    }
    .tb-element {
        font-size: 24px;
        padding: 20px 0 20px 15px;
    }
    .tb-element:first-of-type {
        display: none;
    }
    .tb-div-element {
        font-size: 24px;
        padding: 10px 0 0 15px;
    }
    .tb-element a {
        margin-left: 50px;
    }
    /* Svg  */
    #flipwave-svg {
        height: 30px;
        left: 4%;
        top: 30%;
    }
    .rt-nav {
        margin-top: 10px;
        padding-left: 20px;
    }
    .ns-ttp .fa-bell,
    .fa-cart-shopping,
    .tb-search-bar .fa-magnifying-glass {
        border-right: none;
        font-size: 24px;
        padding: 0 0 0 4px;
        margin-right: 2px;
    }
    .tb-search-bar .fa-magnifying-glass {
        display: inline;
    }
    .user-img {
        display: none;
        height: 45px;
        width: 45px;
        border-radius: 25px;
        background: url("../../images/download.jfif") no-repeat;
        margin-right: 20px;
    }
    .user-img::after {
        content: " ";
        color: red;
        height: 100px;
        width: 100px;
        position: absolute;
    }
    /* Search bar and Button */
    .tb-div-search {
        display: none;
    }
    .tb-bars {
        display: block;
        margin: 0 2vw 0 0;
    }
}