<div class="product-preview-container w3-container w3-row w3-padding-64 ">
    <div class="w3-col l6 w3-row-padding ">
        <% for( let index = 0; index < 5; index++ ) { %>
            <img class="w3-col l6 w3-margin-bottom" src="../../public/images/demopic.jpg" alt="">
            <% } %>
                <img src="" alt="">
    </div>
    <div class="w3-col l6">
        <div class="pv-product-name">
            <span class="w3-xxlarge">VANESA PERFUME</span><br>
            <span class="w3-text-grey w3-xlarge">Lorem ipsum dolor sit, amet ipsum dolor sit </span><br>
            <a class="w3-btn w3-hover-none w3-border" href="http://" target="_blank" rel="noopener noreferrer"><Span>4.5</Span> <span>140 ratings</span></a>
            <hr>
            <span>Price tag</span>
        </div>
        <div class="pv-product-options">
            <a class="w3-btn w3-hover-none w3-light-blue w3-hover-blue " href="">Buy Now</a>
            <a class="w3-btn w3-hover-none w3-light-blue w3-hover-blue" href="">Add to cart</a>
        </div>
    </div>
</div>