<div class="bt-bar">

    <div>
        <button onclick="side_nav()" class="sidebar-button"><i class="fa-solid fa-bars"></i> All</button>
        <%- include('side-bar'); -%>

            <span class="bt-element"><a href="#">food and beverages</a></span>
            <span class="bt-element"><a href="#">Fresh</a></span>
            <span class="bt-element"><a href="#">Amazon pay</a></span>
            <span class="bt-element"><a href="">Gift Cards</a></span>
            <span class="bt-element"><a href="">Healt, Household & Personal care</a></span>
            <span class="bt-element"><a href="">Gift Ideas</a></span>
            <span class="bt-element"><a href="">Home Improvement</a></span>
            <span class="bt-element"><a href="">AmazonBasics</a></span>
            <span class="bt-element"><a href="">Kindle ebooks</a></span>
            <span class="bt-element"><a href="">Pet Supplies</a></span>
            <span class="bt-element"><a href="">baby</a></span>
            <span class="bt-element"><a href="">Sport, Fitness & Outdoors</a></span>
            <span class="bt-element"><a href="">Grocery & Gourmet Foods</a></span>
    </div>