<div class="bottom-bar">
    <div>
        <span><a href="#">All</a></span>
    </div>
    <span class="bb-elements"><a href="#">Fresh</a></span>
    <span class="bb-elements"><a href="#">Gift Cards</a></span>
    <span class="bb-elements"><a href="#">Elon Musk</a></span>
    <span class="bb-elements"><a href="#">mood</a></span>
    <span class="bb-elements"><a href="#">Origami</a></span>
    <span class="bb-elements"><a href="#">Home Imporvement</a></span>
    <span class="bb-elements"><a href="#">Amazon Basics</a></span>
    <span class="bb-elements"><a href="#">Baby</a></span>
    <span class="bb-elements"><a href="#">Health, Household & Personal Care</a></span>
    <span class="bb-elements"><a href="#">Sports, Fitness & Outdoors</a></span>
    <span class="bb-elements"><a href="#">Grocery & Gourmet Foods</a></span>
    <span class="bb-elements"><a href="#">Kindle Ebooks</a></span>

</div>