<div class="w3-center w3-margin-bottom">
    <div class="fb-container w3-row ">
        <% var current = 0; %>
            <% while (current < 4){ %>
                <ul class="fb-row-container w3-col l2">
                    <li class="fb-element">Text</li>
                    <li class="fb-element">Text</li>
                    <li class="fb-element">Text</li>
                    <li class="fb-element">Text</li>
                    <li class="fb-element">Text</li>
                    <li class="fb-element">Text</li>
                    <li class="fb-element">Text</li>
                    <li class="fb-element">Text</li>
                    <li class="fb-element">Text</li>
                    <li class="fb-element">Text</li>
                </ul>
                <%    current += 1;
            };%>
    </div>
</div>