<div class="w3-center  w3-margin-top">
    <a href="#top" class="w3-amber w3-block w3-button">To Top</a>
    <div class="fb-container w3-row ">
        <% var current = 0; %>
            <% while (current < 4){ %>
                <ul class="fb-row-container w3-col l2  w3-padding-64">
                    <% var n = 0; %>
                        <% while (n < 8){ %>
                            <% if (current==0) { %>
                                <li class="fb-element"><a href="#">link <%= n %></a></li>
                                <% } %>
                                    <% if (current==1) { %>
                                        <li class="fb-element"><a href="#">link <%= n+ 8 %></a></li>
                                        <% } %>
                                            <% if (current==2) { %>
                                                <li class="fb-element"><a href="#">link <%= n+ 16 %></a></li>
                                                <% } %>
                                                    <% if (current==3) { %>
                                                        <li class="fb-element"><a href="#">link <%= n+ 22 %></a></li>
                                                        <% } %>
                                                            <%    n += 1;};%>
                </ul>
                <%current += 1;};%>
    </div>
</div>