<div id="sb-user" class="sb-user sb-view">
    <img class="sb-user-pic" src="../../../public/images/download.jfif" alt="">
    <span class="sb-user-text"> Hello, Sunil Sharma</span>
</div>
<div id="sb-nav" class="sb-nav sb-view">
    <div>
        <div class="sb-row">
            <h3 class="sb-header">Trending</h3>
            <a class="sb-element" href="#">Text</a>
            <a class="sb-element" href="#">Text</a>
            <a class="sb-element" href="#">Text</a>
            <a class="sb-element" href="#">Text</a>
        </div>

        <div class="sb-row">
            <h3 class="sb-header">Trending</h3>
            <a class="sb-element" href="#">Text</a>
            <a class="sb-element" href="#">Text</a>
            <a class="sb-element" href="#">Text</a>
            <a class="sb-element" href="#">Text</a>
        </div>

        <div class="sb-row">
            <h3 class="sb-header">Trending</h3>
            <a class="sb-element" href="#">Text</a>
            <a class="sb-element" href="#">Text</a>
            <a class="sb-element" href="#">Text</a>
            <a class="sb-element" href="#">Text</a>
        </div>

        <div class="sb-row">
            <h3 class="sb-header">Trending</h3>
            <a class="sb-element" href="#">Text</a>
            <a class="sb-element" href="#">Text</a>
            <a class="sb-element" href="#">Text</a>
            <a class="sb-element" href="#">Text</a>
        </div>
    </div>
</div>