<div class="top-nav">
    <span href="top" class="tb-element"><a href="#">Home</a></span>
    <img id="flipwave-svg" src="../../../public/svg/Vanilla-1s-280px.svg" alt="flipwave-company-text">

    <div class="rt-nav">
        <form action="" class="tb-div-element">
            <input type="search" name="search" id="search" placeholder="type something...">
            <button type="submit" form="search">submit</button>
        </form>

        <!-- notification section -->
        <div class="tb-div-element ns-ttp">
            <span><i class="fa-solid fa-bell"></i></span>
            <div class="tooltip-content">
                <h3 class="ns-header">Notifications</h3>
                <div class="ns-message">
                    <% for( let index = 0; index < 4; index++ ) { %>
                        <a href="" class="ns-warp" id="ns-warp" style="cursor: pointer; text-decoration: none;">
                            <img class="ns-user-pic" src="../../../public/images/demopic.jpg" alt="">
                            <p class="ns-srt-message">Lorem ipsum dolor. deleniti, explicabo quas sint voluptates. Maxime, optio nihil!</p>
                            <p class="ns-time">12 secs ago</p>
                        </a>
                        <% } %>
                </div>
            </div>
        </div>

        <a href="/cart" class="tb-div-element">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>

        <div class="tb-div-element">
            <img class="user-img" src="../../../public/images/demopic.jpg" alt="">
        </div>

    </div>

</div>