<div class="nav-bar">
    <span class="tb-element">Logo</span>
    <span class="tb-element">Home</span>
    <span class="tb-element"></span>
    <span class="tb-element"></span>
    <span class="tb-element">Notification</span>
    <span class="tb-element">User pic</span>

</div>