<div class="nav-bar">
    <span class="tb-element">Logo</span>
    <span class="tb-element">Home</span>
    <div class="tb-element" id="tb-srch-bar">
        <form>
            <input type="search" name="search" id="search">
        </form>
    </div>
    <span class="tb-element">Notification</span>
    <span class="tb-element">User pic</span>

</div>