<!-- sp-cart: Shoping Cart;
     spc-os:Shoping Cart Order Summary;
-->


<div class="sp-cart w3-row">
    <div class="spc-products w3-col l8 s12 w3-padding-large w3-mobile">

        <!-- Product heading -->

        <div class="spcp-header w3-row w3-margin-bottom w3-padding-16">
            <span class="w3-col l10 s10 w3-xlarge">Shoping Cart</span>
            <span class="w3-col l2 s2 w3-xlarge">2 Items</span>
        </div>

        <!-- Product name value -->

        <div class="spcp-header-2 w3-row w3-margin-bottom ">
            <div class="w3-col l6 s3 w3-text-grey">Product Details</div>
            <div class="w3-col l2 s3 w3-text-grey">Quantity</div>
            <div class="w3-col l2 s3 w3-text-grey">Price</div>
            <div class="w3-col l2 s3 w3-text-grey">Total</div>
        </div>
        <% for( let i = 0; i < 5; i++ ) { %>
            <div class="spcp-container w3-border-bottom w3-padding-16">
                <div class="w3-row">
                    <div class="w3-col l6 s4 w3-row">
                        <img class="w3-col l4 s6" src="../../../public/images/demopic.jpg" alt="  " style="height: 15vh; width: 10vw; overflow: hidden;">
                        <div class="spcp-pn w3-col l8 s6 w3-padding">
                            <span>Product Name</span><br>
                            <span>Product Detail</span><br>
                            <span>Product Detail</span><br>
                            <span>Product Detail</span><br>
                        </div>
                    </div>
                    <div class="w3-col l2 s4">
                        <div class="quantity buttons_added">
                            <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
                        </div>
                    </div>
                    <div class="w3-col l2 s2">
                        <span>$100</span>
                    </div>
                    <div class="w3-col l2 s2">
                        <span>$100</span>
                    </div>
                </div>
            </div>
            <% } %>

                <div class="spc-continue">
                    <a class="w3-text-purple w3-button w3-hover-none w3-hover-text-purple " href="">&larr; Continue shopping</a>
                </div>
    </div>
    <div class="spc-os w3-col l4 s12 w3-border-left w3-block w3-light-grey w3-padding-large w3-mobile " style="height: 90vh;">
        <span class="w3-xlarge w3-border-bottom w3-block w3-padding-16 w3-margin-bottom">Order Summary</span>
        <div class="w3-row w3-margin-bottom">
            <span class="w3-col l8">Sum Total</span>
            <span class="w3-col l4">$100</span>
        </div>
        <div class="w3-row">
            <span class="w3-col l8">Shiping </span>
            <span class="w3-col l4">$5</span>
        </div>
        <hr>
        <div class="w3-row">
            <span class="w3-col l8">Total Amount</span>
            <span class="w3-col l4">$105</span>
        </div>
        <div class="w3-container w3-margin-top ">
            <button class="w3-button w3-blue w3-round-large w3-hover-blue w3-block " style="width: 75%;">Checkout</button>
        </div>
    </div>
</div>