<div class="w3-container w3-row">
    <div class="">
        <h3 class="product-class">Perfume</h3>
        <p class="profuct-class-details">Showing 61-80 out of 724238 Products</p>
    </div>
    <% var current = 0; %>
        <% while (current < 12){ %>
            <div class="product-container w3-card-2 w3-margin-top  w3-col s3 ">
                <img src="../../../public/images/download.jfif" alt="" class="product-image">
                <div class="product-detail">
                    <span class="product-name">Vanesa perfume</span><br>
                    <span class="product-price">$10</span>
                    <span><del class="product-price-del">$15</del></span>
                    <span class="product-price-off">33.33% off</span><br>
                    <span class="product-extra">&#37; $2 dollars discount on 1st order</span><br>
                    <span class="product-delivery-details">Free Delivery</span><br>
                    <span class="product-rating">4.5 &nbsp;	&#9733;</span>
                    <span class="product-rating-details">1 review</span><br>
                </div>
            </div>
            <%    current += 1;
};%>
</div>