<div class="main-page-design w3-container w3-padding-64 w3-row">
    <img class="w3-col l5" src="../../../public/svg/shope.svg" alt="">
    <div class="w3-col l7 mpd-first">
        <div class="mpd-front">
            <h1>Header text</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus culpa nam voluptatibus eveniet nobis magnam fugit possimus ea in aliquid eos atque hic commodi dicta, quas ipsum? Reprehenderit, non soluta.</p>
        </div>
        <button type="submit">Shop now</button>
        <button type="submit">Know more</button>
    </div>
    <div class="mpd-main-design">
        <div class="el">f</div>
        <div class="el">f</div>
        <div class="el">f</div>
    </div>
</div>