<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
    <div class="max-w-2xl mx-auto py-24 px-4 grid items-center grid-cols-1 gap-y-16 gap-x-8 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8 lg:grid-cols-2">
        <div>
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Header text</h2>
            <p class="mt-4 text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ea neque, nemo dolores, magni quos laborum eum nam provident, quidem accusantium. Ad officiis fuga delectus nam veritatis qui? Non, natus.</p>

            <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">text</dt>
                    <dd class="mt-2 text-sm text-gray-500">Text.</dd>
                </div>

                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">header text</dt>
                    <dd class="mt-2 text-sm text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat doloremque nemo veniam minima quod facilis tempora esse autem iusto saepe rem repudiandae cumque illo, itaque hic fuga quasi labore praesentium!</dd>
                </div>

                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">text</dt>
                    <dd class="mt-2 text-sm text-gray-500">l&quot; x b &quot; x h&quot;</dd>
                </div>

                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">header text</dt>
                    <dd class="mt-2 text-sm text-gray-500">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente cupiditate autem facere voluptate nemo voluptas obcaecati earum saepe, maiores rem quos ab provident porro facilis doloremque, dolorum consectetur mollitia. Voluptatem.</dd>
                </div>

                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">header text</dt>
                    <dd class="mt-2 text-sm text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis amet delectus eius sequi iusto suscipit pariatur quam, perspiciatis harum, ipsam aliquam sunt autem nam voluptatem sit consectetur rerum temporibus unde?</dd>
                </div>

                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900">header text</dt>
                    <dd class="mt-2 text-sm text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem temporibus itaque architecto vel, aliquam nemo eius culpa reiciendis perferendis voluptates quae reprehenderit debitis nobis inventore similique deserunt enim distinctio
                        ipsam?
                    </dd>
                </div>
            </dl>
        </div>
        <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
            <img src="../../../public/images/demopic.jpg" alt="" class="bg-gray-100 rounded-lg">
            <img src="../../../public/images/demopic.jpg" alt="" class="bg-gray-100 rounded-lg">
            <img src="../../../public/images/demopic.jpg" alt="" class="bg-gray-100 rounded-lg">
            <img src="../../../public/images/demopic.jpg" alt="" class="bg-gray-100 rounded-lg">
        </div>
    </div>
</div>